html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding:0;
	margin:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}
img{
	vertical-align: top;font-size: 0;
}
body{

	font-weight: normal;
}
*{
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul,ol{
	list-style: none;
	padding:0;
	li{
		list-style: none;
	}
}

$gil:"gilroyextrabold";

$poppins:'Poppins',sans-serif;
$roboto: 'Roboto Slab', serif;


.section{
	 &.principal{
		width: 100%;
		height: 100vh;
		min-height: 450px;
		padding-top: 0;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			vertical-align: top;
		}
	}
}

.logo{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(calc(-50% + .5px), calc(-50% + .5px)) scale(1.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	transition: all .3s ease-in-out;
	.slash{
    	position: relative;
    	top: -20px;
    	transition: all .3s ease-in-out;
    }
    .d{
		position: relative;
		left: -28px;
    }
}

.ladiagonal{
	width: 126px;
	height: 50px;
	background:url("../images/logo/lad.png") no-repeat;
	background-size: contain;
	position: absolute;
	bottom: -27px;
	left: 8px;
	opacity: 1;
	transition: all .3s ease-in-out;
    // animation-delay: 5.2s;
}


#main{
	overflow: hidden;
}

.navigation{
	position: fixed;
	width: 100%;
	top: 0;
	padding: 0 20px;
	padding-bottom: 10px;
	background: rgba(255,255,255,.0);
	transition: all .3s ease;
	z-index: 99;
	box-shadow: 0 5px 5px rgba(0,0,0,0);
	display: flex;

    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    background: #fff;
    .logo-header{
		opacity: 1;
		img{
			width: 75px;
		}
	}
    @media (min-width: 768px){
    	box-shadow: 0 4px 4px rgba(0,0,0,0);
    	background: transparent;
    	padding-top: 10px;
    	.logo-header{
			opacity: 0	
		}
    }
	&.inner{
		background: rgba(255,255,255,1);
		padding-top: 10px;
		box-shadow: 0 4px 4px rgba(0,0,0,.1);

		.logo-header{
			opacity: 1;
		}
		ul{
			li{
				a{
					color: #000;
					&:after{
						border-bottom-color: #000; 
					}
				}
			}
		}
	}
	ul{

		margin-left: auto;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		background: #fff;
		border-top: 2px solid #000;
		display: none;
		@media (min-width: 768px){
			position: relative;
			border:0;
			width: auto;
			top: auto;
			display: flex;
			justify-content: flex-end;
			background: transparent;
		}
		li{
			@media (min-width: 768px){
			display: flex;
			align-items: flex-end;
			padding-bottom: 10px
			}
			a{
				color: #000;
				font-size: 14px;
				font-family: $poppins;
				display: flex;
				align-items: flex-end;
				padding-bottom: 8px;
			
				height: 50px;
				position: relative;
				justify-content: center;
				transition: all .3s ease;
				margin:0 10px;
				align-items: center;
				&:hover{
					background: #f2f2f2;
				}
				@media (min-width: 768px){
					width: 99px;
					color: #fff;
					justify-content: flex-end;
					align-items: flex-end;
					&:hover{
						background: transparent;
					}
				}
				@media (min-width: 1024px){
					width: 120px;
				}
				span{
					text-align: center;
					@media (min-width: 768px){
						text-align: right;
					}
				}
				&:after{
					content: "";
					display: block;
					width: 100%;
					border-bottom: 2px solid #000;
					transition: all 0.3s ease;
					position: absolute;
					bottom: 0;
					@media (min-width: 768px){
						border-bottom: 2px solid #fff;
					}
				}
			}
		}
	}
}
.logo-header{
	opacity: 0;
	transition:all .5s ease;
}
.activeHeader{

	.navigation{
		background: rgba(255,255,255,1);
		padding-top: 10px;
		box-shadow: 0 4px 4px rgba(0,0,0,.1);
		&:not(.inner){
			.logo-header{
				opacity: 1	
			}
		}
		ul{
			li{
				a{
					color: #000;
					&:after{
						border-bottom-color: #000; 
					}
				}
			}
		}
	}
}
/*************************************/
/************* About *****************/
/*************************************/
.inner-section{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	@media (min-width: 768px){
		padding-left: 35px;
		padding-right: 0;
	}
}
.title{
	font-size: 2.7rem;
	font-family: $poppins;
	color: #000;
	text-transform: capitalize;
	position: relative;
	display: inline-block;
	font-weight: 700;
	width: 195px;
	text-align: right;
	margin-bottom: 40px;
	transition: all .3s ease;
	@media (min-width: 768px){
		margin-bottom: 60px;
		font-size: 4.5rem;
		width: 240px;
	}
	&:before{
		content: "";
		display: block;;
		width: calc(100% + 35px);
		height: 13px;
		background: #000;
		position: relative;
		left: -35px;
		margin-bottom:8px;
		@media (min-width: 768px){

		}
	}
}
.section{
	min-height:400px;
	display: flex;
	align-items: center;
	padding-top: 40px;
	position: relative;
	z-index: 2;
	@media (min-width: 768px){
		min-height: 700px;

		padding-top: 140px;
	}
	.content{
		
		color: #000;
		line-height: 24px;
		font-family: $roboto;
		max-width: 790px;
		p{
			font-size: 1.1rem;
			line-height: 1.9rem;
			transition: all .3s ease;
			@media (min-width: 768px){
				font-size: 1.75rem;
				line-height: 2.4rem;
			}
		}
		
		strong{
			font-weight: 700;
		}
	}
	&.sectionTeam{
	}
	&.sectionProyectos,&.sectionHechos{
		flex-direction: column;
		.title{
			@media (min-width: 768px){
				text-align: left;
			}
		}
	}
	&.sectionContact{
		background: #7300e1;
		padding: 35px 0 0;
		@media (min-width: 850px){
			height: 100vh;	
			padding: 0;
			padding-top: 30px;
		}
		>*{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media (max-width: 850px){
				padding: 0;
			}
		}
		.title{
			color: #fff;
			margin-bottom: 30px;
			margin-top: auto;
			padding-left: 35px;
			@media (min-width: 768px){
				margin-bottom: 65px;
			}
			&:before{
				background: #fff;
			}
		}
	}
}

.inner-team{
	padding: 0 15px;
	@media (min-width: 768px){
		padding: 0 35px;
	}
}

.list-team{
	display: flex;
	flex-wrap: wrap;
	margin:0 -1%;
	max-height: 100%;
	position: relative;
	z-index: 3;
	@media (min-width: 	1366px){
		margin:0 -2%;
	}
	>li{
		
		width: 100%;
		position: relative;
		cursor: pointer;
		margin-bottom: 20px;
		transition: all .3s ease;
		text-align: center;
		&.df{
				display: none;
			}
		@media (max-width:599px){
			margin-left: auto;
			margin-right: auto;
			max-width: 320px;
			
		}
		@media (min-width: 600px){
			margin:0 1% 20px;
			width: 48%;
			text-align: left;
		}
		@media (min-width: 960px){
			width: 31.3%;
		}
		@media (min-width: 1280px){
			width: 23%;
		}
		@media (min-width: 	1366px){
			margin:0 2% 20px;
			width: 21%;
			&.df{
				display: block;
			}
		}
		h2{
			position: absolute;
			bottom: 25px;
			width: 100%;
			text-align: center;
			font-size: 16px;
			font-family: $roboto;
			color:#fff;
			z-index: 5;
			a{
				display: block;
				color:#fff;
				margin-bottom: 12px;
				opacity: 0;
				transition: all .3s ease-in-out;
				position: relative;
				top: -30px;
			}
		}
		img{
			max-width: 100%;
			height: auto;
			width: 100%;
			object-fit: cover;
		}
		&:hover{
			.hoverimg2{
				opacity: 1;
				img{
					width: 100%;
				}
			}
		}

		&.active{
			.hoverimg{
				opacity: 1;
				img{
					width: 100%;
				}
			}
			h2{
				a{
					opacity: 1;
					top: 0
				}
			}
			.ev-info{
				opacity: 1;
			}
		}
	}
	.hoverimg,.ev-info,.hoverimg2{
		position: absolute;
		top:0;
		left: 0;
		z-index: 2;
		opacity: 0;
		transition: all .3s ease-in-out;
		width: 100%;
	}
	.hoverimg2{
		z-index: 1;
	}
	.ev-info{
		z-index: 4;
		height: calc(100% - 40px);
		width: 100%;
		padding:20px 15px;
		color:#fff;
		a{color:#fff;}
		.txt{
			font-size: 13px;
			font-family: $roboto;
			max-height: 135px;
			overflow: auto;
			line-height: 18px;
			margin-bottom: 12px;
			@media (min-width: 1480px){
				font-size: 15px;
				margin-bottom: 25px;
				max-height: 145px;
			}
		}
		ul.stats{
			li{
				margin-bottom: 12px;
				display: flex;
				align-items: center;
				@media (min-width: 1480px){
					margin-bottom: 15px;
				}
				>span{
					display: inline-block;
					font-size: 16px;
					text-transform: capitalize;
					width: 45px;
				}
				div.barstat{
					width: calc(100% - 45px);
					padding-left:5px;
					span{
						height: 12px;
						display: block;
						background:#d0c9d0;
						width: 80%;
					}
				}
			}
		}
	}
}

.list-proyext{
	
	position: relative;
	z-index: 3;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	@media (min-width: 768px){
		display: flex;
		margin-top: 100px;
		
		width: calc(100% + 180px);
		flex-wrap:wrap;
	}
	.itemProyect{
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		height: 300px;
		padding: 15px;
		@media (min-width: 768px){
			transform: skewX(-15deg);
			left: -1px;
			width: 50%;
			height: 580px;
			padding-left: 5%;
		}
		>a{
			position: absolute;
			top: 0;
			font-size: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
		@media (min-width: 768px){
			&:first-child{
				padding-left: 8%;
				left: 0;
			}
		}

		.itemLogo{
		
			height: 100%;
		    align-items: center;
		    display: flex;
		    @media (min-width: 768px){
		    	transform: skewX(15deg);
		    }
		    a{

		    }
		}
		.logop{
			max-width: 150px;
			@media (min-width: 768px){
				max-width: 250px;
			}
			img{
				max-width: 100%;
				width: 100%;
				height: auto;
			}
		}
		&:nth-child(odd){
			background: #4d4d4d;
			/* &:after{
				content: "";
				position: absolute;
				top: 50%;
				height: 50%;
				width: 50%;
				left: 99%;
				background: #4d4d4d;
				display: block;
			} */
		}
		&:nth-child(even){
			background: #808080;
			/* &:after{
				content: "";
				position: absolute;
				top: 50%;
				height: 50%;
				width: 50%;
				left: 99%;
				background: #808080;
				display: block;
			} */
		}
	}
}

.bottom-footer{
	
    padding-bottom: 30px;
    // border-top: 1px solid #fff;
    color: #fff;
   
    padding-top: 30px;
	box-shadow: 0 -5px 15px rgba(0,0,0,.4);
	position: relative;
	z-index: 2;
    background: #7300e1;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    @media (min-width: 850px){
    	 margin-left: -35px;
    	padding-left: 35px;
    	text-align: left;
    	padding-right: 0;
    	width: calc(100% + 35px);
    	margin-top: auto;
    }
	.address{
		font-family: $poppins;
		font-size: 14px;
		line-height: 22px;
		@media (min-width: 768px){
			font-size: 20px;
			line-height: 30px;

		}
	}
	.tel{
		font-family: $poppins;
		font-size: 14px;
		line-height: 20px;
		display: block;
		margin:8px 0;
		color: #fff;
		@media (min-width: 768px){
			font-size: 20px;
			line-height: 27px;
		}
	}
	.copy{
		font-size: 13px;
		line-height: 20px;
		font-family: $poppins
	}
}

/*********************************/
/*********************************/
/*********************************/
.first-line{
	position: relative;
	background:#fff;
	overflow: hidden;
	&:after{
		content: "";
	    display: block;
	    width: 3px;
	    height: 116%;
	    background: rgba(#7300e1,.5);
	    position: absolute;
	    right: 50%;
	    top: -5%;
	    transform: rotate(20deg);
	    @media (min-width: 1180px){
	    	top: -7%;
	    	 right: 45%;
	    	 background: #7300e1;
	    	 transform: rotate(22deg);
	    }
	    @media (min-width: 1366px){
	    	 
	    	transform: rotate(25deg);
	    }
	    @media (min-width: 1450px){
	    	top: -11%;
		    right: 45%;
		    transform: rotate(29deg);
	    }
	}
}

.second-line{
	position: relative;
	background:#fff;
	overflow: hidden;
	&:after{
		content: "";
	    display: block;
	    width: 3px;
	    height: 116%;
	    background: #00bdff;
	    position: absolute;
	    right: 15%;
	    top: -7%;
	    transform: rotate(25deg)
	}
}
.three-line{
	position: relative;
	background:#fff;
	overflow: hidden;
	&:after{
		content: "";
	    display: block;
	    width: 3px;
	    height: 116%;
	    background: #ffce00;
	    position: absolute;
	    right: 15%;
	    top: -7%;
	    transform: rotate(25deg)
	}
}


.wpform{
	overflow: hidden;
	max-width: 1200px;
	padding: 15px 0 20px;
	@media (min-width: 850px){
		padding: 0;
	}
	ul{
		@media (min-width:850px){
			display: flex;
			margin:0 -15px;
		}
		.itemform{
			margin-bottom: 15px;
			@media (min-width: 850px){
				margin-bottom: 50px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			
		}
		li{
			padding:0 15px;
			@media (min-width: 850px){
				width: 33.33%;
			}
			label{
				color: #fff;
				display: block;
				margin-bottom: 25px;
				font-size: 21px;
				font-family: $roboto;
				font-weight: 400;
			}
			input{
				   height: 50px;
				   width: 100%;
				   padding: 0 10px;
				   background: #450087;
				   border:0;
				   color: #fff;
				   outline: none;
				   border-radius:0;
			}
			textarea{
				height: 200px;
				color: #fff;
				 width: 100%;
				 outline: none;
			   padding: 10px;
			   border:0;
			   resize: none;
			   background: #450087;
			   border-radius:0;
			}
		}
	}
}
.submitbtn{
	border:0;
	background: transparent;
	width: 100%;
	outline: 0;
	cursor: pointer;
	border-radius: 0;
	-webkit-appareance:none;
	-moz-appareance:none;
	appareance:none;
	&:hover{
		
		em{
			color: #fff;
		}
		span{
			&:before{
			height: 100%;
		}
		}
	}
	span{
		width: 100%;
		display: flex;
		height: 80px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 28px;
		font-family: $roboto;
		font-weight: 700;
		
		em{
			font-style:normal;
			color: #00bdff;
			transition: all .3s ease;
			transition-delay: .2s;
			position: relative;
			z-index: 2;
		}
			&:before{
			width: 100%;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: #00bdff;
			transition: all .3s ease;
			height: 12px;
			z-index: 1;
		}

	}
}

.sectionContact{
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 2px;
		background: rgba(255,255,255,.7);
		height: calc(100% + 50px);
		position: absolute;
		transform: rotate(13deg);
		top: 0;
		right: 18%;
		@media (min-width: 640px){
			transform:rotate(25deg);
			width: 5px;
			right: 10%;
			background: #fff;
		}
	}
}

.closex{
	
	font-weight: bold;
	color: #000;
	font-family: $roboto;
	display: flex;
	align-items: center;
	border:0;
	outline: 0;
	background:transparent;
	transition:all .3s ease;
	justify-content: center;
	cursor: pointer;
	span{
		font-size: 40px;
		display: block;
		padding:10px 15px;
		font-family: arial;
	}
}
.right-head{
	display: flex;
	align-items: center;
	margin-left: auto
}
.back{
	font-weight: bold;
	color: #000;
	font-family: $roboto;
	display: flex;
	align-items: center;
	border:0;
	cursor: pointer;
	outline: 0;
	background:transparent;
	transition:all .3s ease;
	justify-content: center;
	position: relative;
	margin-right: 5px;
	span{
		font-size: 0;
	    display: block;
	    padding: 2px 5px;
	    background: url(../images/arrow2.png);
	    width: 25px;
	    height: 33px;
	    overflow: visible;
	    background-size: 100% 100%;
	}
}
.three-line.sectionProyectos{
	&:after{
		background: #00bdff
	}
}

.btn-mobile{
	display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px){
    	display: none;
    }
	span{
		width: 25px;
		height: 3px;
		background: #000;
		display: block;
		position: relative;
		&:after{
			content: "";
			width: 25px;
			height: 3px;
			background: #000;
			position: absolute;
			top: -6px;
			display: block;
			left: 0;
		}
		&:before{
			content: "";
			width: 25px;
			height: 3px;
			background: #000;
			position: absolute;
			top: 6px;
			display: block;
			left: 0;
		}
	}
}

.main-proyectos{
	padding-top: 90px;
	// @media (min-width: 768px){
	// 	padding-top: 30px;
	// }
	.section .content{
		max-width: 1140px;
	}
	.title{
		width: auto;
		text-align: left;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 15px;
		@media (min-width: 768px){
			text-align: right;
			font-size: 2.7rem;
			line-height:3.1rem;
			margin-bottom: 40px;
		}
		&:before{
			top: -13px;
		}
	}
	.list-proyext .itemProyect .logop{
		max-width: 150px;
		@media (min-width: 1550px){
			max-width: 180px;
		}
	}
	.itemProyect{
		flex: 1;
		width: auto;
	}
}



.detcontent{
	position: relative;
	width: 100%;
	
	left: 0;
	
	z-index:10;
	transition: all .7s ease;
	opacity: 0;
	@media (max-width:959px){
		display: none;
	}
	@media (min-width:960px){
		position: absolute;
		z-index:8;
		height: 100%;
		top:-100%;
	}
	&.active{
		opacity: 1;
		top: 0;
		transition-delay: 1s;
		@media (max-width:959px){
			display: block;
		}
	}
	>*{
		@media (min-width:960px){
			height: 100%;
		}
		&.info-left-det{
			background:#fff;
			transition: all .3s ease-in-out;
			z-index: 4;
			position: relative;
			height: 60%;
			padding: 20px 0;
			&.bg2{
				background:#00c0ff;
			}
			&.bg3{
				background:#8800e6;
			}
			@media (min-width:960px){
				width: 51%;
				transform: skewX(-20.5deg);
				height: 100%;
				padding: 0;
				&:before{
					content: "";
					position: absolute;
					left:0;
					top:0;
					background:#fff;
					height: 100%;
					width: 40%;
					transform: skewX(20.5deg);
				}
				&.bg2:before{
					background:#00c0ff;
				}
				&.bg3:before{
					background:#8800e6;
				}
			}
			
			.in-sesgar{
				
				position: relative;
				
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				@media (min-width:960px){
					transform: skewX(20.5deg);
					height: calc(100% - 260px);
					top: 171px;
				}
			}
		}
	}
	.imginitial{
		right: 0;
		top: 0;
		z-index: 3;
	
		@media (min-width: 960px){
			width: 63%;
			position: absolute;
			height: 100%;
			@media (min-height: 1200px){
				width: 64%;
			}
		}
		@media (min-width: 1366px){
			width: 60%;
			@media (min-height: 1000px){
				width: 64%;
			}
		}
	}

	.figureimg{
		width: 100%;
			height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.imgdet-proyecto{
		transition: all .3s ease;
		z-index: 1;
		@media (max-width: 959px){
			display: none;
		}
		@media (min-width: 960px){
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
		}
		&.active{
			opacity: 1;
			z-index: 2;
			visibility: visible;
			@media (max-width: 959px){
				display: block;

			}
		}
	}
	.detalle-info{
		color:#000;
		max-width: 85%;
		margin:0 auto;
		padding-right: 2%;
		opacity: 0;
		overflow: hidden;
		max-height: 0;
		transition: all .3s ease;
		@media (min-width: 1366px){
			padding-right: 8%;
		}
		&.active{
			max-height: 800px;
			opacity: 1;
			transition-delay: 1.5s;
		}
		a{
			color:#fff;
		}
		line-height: 22px;
		font-size: 14px;
		font-family: $roboto;
		@media (min-width: 1550px){
			line-height: 30px;
			font-size: 19px;
		}
		p{
			margin-bottom: 10px;
			@media (min-width: 1550px){
				margin-bottom: 15px;
			}
			&:last-child{
				margin-bottom: 0
			}
		}
	}
	.titdetproyecto{
		font-size:2.1rem;
		line-height: 2.5rem;
		padding-bottom: 5px;
		
		text-transform: capitalize;
		font-family: $poppins;
		display: inline-block;
		font-weight: 700;
		line-height: 42px;
		color: #000;
		@media (min-width: 768px){
			font-size:2.2rem;
			line-height: 2.4rem;
		}
		@media (min-width: 1180px){
			font-size:3.1rem;
			line-height: 3.5rem;
		}

	}
	.subtitle{
		font-family: $poppins;
		font-weight: 700;
		font-size:  25px;
		display: block;
		margin-bottom: 30px;
		line-height: 32px;
		@media (min-width: 1024px){
			font-size: 40px;
			line-height: 45px;
		}
	}
	.dualbtns{
		display: flex;
		margin-top: 25px;
		@media (min-width: 1366px){
			margin-top: 50px;
		}

		/* &.activedet1,&.activedet2{
			a{
				&.default{
					display: flex;
				}
			}
		}
		&.activedet1{
			a.info1det{
				display: none;
			}
		}
		&.activedet2{
			a.info2det{
				display: none;
			}
		} */
		a{
			padding:0 5px;
			height: 40px;
			display: flex;
			font-weight: 700;
			justify-content: center;
			align-items: center;
			border:4px solid #fff;
			text-transform: uppercase;
			text-align: center;
			font-size: 12px;
			transition: all 0.3s ease;
			font-family: $poppins;
			&.active{
				background:#fff;
			}
			@media (min-width: 960px){
				padding:0 20px;
				font-size: 13px;
			}
			@media (min-width: 1366px){
				height: 50px;
				font-size: 16px;
			}
			&.default{
				display: none;
				margin-left: 5%;
				@media (min-width: 1366px){
					margin-left: 10%
				}
			}
			&:hover,&.active{
				background:#fff;
				color:#000;
			}
			&:first-child{
				margin-right: 5%;
				@media (min-width: 1366px){
					margin-right: 10%
				}
			}
		}
	}
}

.infodet{
	margin-top: 20px;

	@media (min-width: 960px){
		overflow: auto;
		max-height: 180px;
		margin-top: 30px;
	}

	@media (min-width: 1366px){
		max-height: 3000px;
	}
	>*{
		display: none;
		&.detprincipal{
			display: block;
			color: #000;
		}
	}
}

/*** galeria *****/


.lSAction > a{
	background-image: url(controls.png);
}

.evntmodal{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.closemv{
	position: absolute;
	top: 30px;
	right: 15px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-transform: uppercase;
	background:#f2f2f2;
	color:#fff;
	transition: all .3s ease;
	cursor:pointer;
	font-size: 18px;
	border-radius:50%;
	color:#000;
	font-family: arial;
	&:hover{
		background:#ccc;
	}
}

.bgmodal{
	position: fixed;
	background:rgba(0,0,0,.9);
	width: 0;
	overflow: hidden;
	height: 100%;
	right: 0;
	visibility: hidden;
	transition: all .3s ease;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	top: 0;
	video{

		width: 90%;
		height: 90%;
		height: 90vh;
	}
	&.active{
		opacity: 1;
		width: 100%;
		visibility: visible;
	}
}
.imageGallery li{
	position: relative;
}
.edittext{min-height: 24px}

/**** slider ****/
.infosubproyecto {
	height: 100%;
	*{
		height: 100%;
	}
	img{
		object-fit: cover;
		width: 100%;
	}
	.lSAction > a{
		background: url(../images/arrow.png);
		width: 30px;
		height: 46px;
		opacity: .8;
		overflow: visible;
		&:hover{
			opacity: 1
		}
		&.lSNext{
			transform: rotate(180deg);
		}
	}
	.lSAction > .lSNext{
		background-position: 0 -1px;
		transform: rotate(180deg);
	}
	@media (min-width: 1024px){
		.lSAction > a{
			top: 92%;
		}
		.lSAction > .lSPrev{
			left: 9%;
		}
	}
}

.tit-proyect{
	font-family: $gil;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.8px;
}

