html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding:0;
	margin:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}
img{
	vertical-align: top;font-size: 0;
}
$open:"";
body{
	font-family: $open;
	font-weight: normal;
}
*{
	box-sizing: border-box;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body,html{
	overflow-x:hidden; 
	@media (min-width:960px){
		height: 100vh;
		overflow:hidden;	
	}
}
$gil:"gilroyextrabold";

$poppins:'Poppins',sans-serif;
$roboto:'Roboto', sans-serif;
.section{
	
	width: 100%;
	@media (max-width: 959px){
		margin-top: 30px;
		&#about{
			margin-top: 0
		}
	}
	&.principal{
		height: 100vh;
		margin-top: 0;
		min-height: 480px;
	}
	@media (min-width:960px){
		height: 100vh;
	}
	>img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}	
}

.navigation{
	position: absolute;
	
	left:1%;
	z-index: 10;
	color:#fff;
	@media (max-width:959px){
		top: 2%;
	}
	@media (min-width:960px){
		bottom:5%;
	}
	@media (min-width:1280px){
		left:2%;
	}
	ul{
		display: flex;
		li{
			margin-right: 18px;
			a{
				display: flex;
				align-items: flex-end;
				color:#fff;
				justify-content: flex-end;
				min-width: 70px;
				text-align: right;
				position: relative;
				height: 40px;
				padding: 0 0 10px;
				transition: all .1s ease-in-out;
				position: relative;
				font-family: $poppins;
				font-size: 14px;
				padding-left: 10px;
				@media (min-width:1280px){
					min-width: 100px;
				}
				&:hover,&.active{
					color:#000;
					padding-right: 10px;
					@media (min-width:1280px){
						padding-right: 15px;
					}
					&:after{
						height: 100%;
					}
				}
				span{
					position: relative;
					z-index: 2;
				}
				&:after{
					width: 100%;
					content: "";
					display: block;
					height: 4px;
					bottom: 0;
					left:0;
					background:#fff;
					position: absolute;
					z-index: 1;
					transition: all .1s ease-in-out;
				}
			}
		}
	}
}

.logo{
	position: absolute;
	z-index: 10;
	left: 50%;
	top:45%;
	cursor: pointer;
	transition: all .3s ease-in-out;
	transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px)) scale(1.6);
    // height: 175px;
	// padding-left: 70px;  old
	max-width: 385px;
	// width: 100%;
	padding-top: 18px;
	// width: auto;
	width: 112px;
	height: 173px;
	text-align: center;
	@media (max-width: 959px){
		width: 138px;
		overflow: hidden;
		margin-top: 50px;
	}
    img{
    	vertical-align: middle;
    	transition: all .3s ease-in-out;
    }
    .slash{
    	position: absolute;left: 0;
    	top: 0px;
    	transition: all .3s ease-in-out;
    	transform: scale(1.5);
    	opacity: 0;
    	animation: slash  1.5s;
    	 animation-fill-mode: forwards;

    }

}
.ladiagonal{
	width: 126px;
	height: 50px;
	
	background:url("../images/logo/lad.png") no-repeat;
	background-size: contain;
	position: absolute;
	bottom: -27px;
	left: 8px;
	opacity: 0;
	transition: all .3s ease-in-out;
	-webkit-animation: lad 1s ; /* Safari 4.0 - 8.0 */
    animation: lad  1s;
    animation-fill-mode: forwards;
    @media (min-width:960px){}
    // animation-delay: 5.2s;
}
#main{
	&:not(.ev){

		.ladiagonal{
		  animation-delay: 2.5s;
		   @media (min-width:960px){
		   	animation-delay: 5.2s;
		   }
		 }
		.dgnl{

			overflow: hidden;
			transform: skewX(-20.5deg);
			transition: all .3s ease-in-out;
			// -webkit-animation: animatelogo .25s ; /* Safari 4.0 - 8.0 */
			// animation: animatelogo  .25s;
			// animation-fill-mode: forwards;
			// animation-timing-function:ease-in-out;
			// animation-delay: 3.5s;
		    text-align: left;
		    position: absolute;
		    left: 32px;
		    // padding-left: 10px;
		    @media (max-width:960px){
			    .leftd{
			    	left: 0;
			    	opacity: 0;
			    	 -webkit-animation: inmobile 1s ; /* Safari 4.0 - 8.0 */
				    animation: inmobile  1s;
				     animation-fill-mode: forwards;
				      animation-timing-function:cubic-bezier(.72,.1,0,.99);
					animation-delay: 1.5s;
			    }
		    }
		    @media (min-width:960px){
			    .leftd{
					left: -100%;
					
					 -webkit-animation: in 2.5s ; /* Safari 4.0 - 8.0 */
				    animation: in  2.5s;
				     animation-fill-mode: forwards;
				      animation-timing-function:cubic-bezier(.72,.1,0,.99);
					animation-delay: 1.5s;

			    }
			}
		    @media (min-width:960px){
			    .gnl{
			    	overflow: hidden;
			    	svg{
						-webkit-animation: outgnl 1.5s ; /* Safari 4.0 - 8.0 */
						margin-left: 0%;
						animation: outgnl  1.5s;
						animation-fill-mode: forwards;
						animation-timing-function:cubic-bezier(.72,.1,0,.99);
						animation-delay: 4.7s;
					}
			    }
		    }

		}
	}
	@media (min-width: 960px){
		&.ev{
			.logo {
			transition: all .3s ease;
			&:hover{
				transform: scale(.9) !important;
			}
		}

			.leftd{
				left: 0%;
			}
			.gnl{
			   svg{
			   	margin-left: -100%
			   }
			}
		}
	}
}
.dgnl{

	overflow: hidden;
	transform: skewX(-20.5deg);
	transition: all .3s ease-in-out;
	// -webkit-animation: animatelogo .25s ; /* Safari 4.0 - 8.0 */
	// animation: animatelogo  .25s;
	// animation-fill-mode: forwards;
	// animation-timing-function:ease-in-out;
	// animation-delay: 3.5s;
    text-align: left;
    position: absolute;
    left: 32px;
    // padding-left: 10px;
    .leftd{
    	display: flex;
		align-items: center;
		position: relative;
		left: -100%;

		transform: skewX(20.5deg);
		padding-left: 12px;
		
    }
    .gnl{
    	overflow: hidden;

    }

}

.section{
	
	
	top:0;
	left:0;
	
	overflow: hidden;
	position: relative;
	@media (min-width:960px){
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all .3s ease-in-out;
		visibility: hidden;
	}
	&.principal,&.active{
		opacity: 1;
		visibility: visible;
	}
	&#about,&#contacto{
		@media (min-width:960px){
			top: 100%;
		}
		@media (max-width:959px){
			.content{
				margin-top: 30px

			}
		}
		&.active{
			.content{
				right: 0;
				transition-delay:1.7s;
				.info{
					transition: all 2.5s ease-in-out;
					transition-delay:.7s;
					right: 0;
					opacity: 1;
				}
			}
		}
	}
	@media (min-width:960px){
		&#team{
			top: 200%
		}
		&#proyectos{
			top: 300%
		}
	}
	&#contacto{
		padding-bottom: 30px;
		@media (min-width:960px){
			top: 400%;
			padding-bottom: 00px;
			.content{
				
				width: 50%;
				.info{
					padding-right: 8%;
					width: 75%;
				}
			}
		}

	}
}
#secciones{
	&.ev1,&.ev3,&.ev4{
		.active{
			.title{
				opacity: 1;
				-webkit-animation: titleanime 1.5s ; /* Safari 4.0 - 8.0 */
				animation: titleanime  1.5s;
				animation-fill-mode: forwards;
				animation-delay: 1.2s;

			}
		}
	}
	&.ev2{
		.active{
			.title{
				opacity: 1;
				-webkit-animation: titleanimeblack 2s ; /* Safari 4.0 - 8.0 */
				animation: titleanimeblack  2s;
				animation-fill-mode: forwards;
				animation-delay: 2.4s;

			}
		}
	}
}
#main{
	
	overflow:hidden;	
	@media (min-width:960px){
		height: 100vh;
		background:#6a00cf;
	}

	&.ev{
		 @media (max-width:960px){
		    .leftd{
		    	left: 0;
		    	opacity: 0;
		    	 -webkit-animation: inmobile 1s ; /* Safari 4.0 - 8.0 */
			    animation: inmobile  1s;
			     animation-fill-mode: forwards;
			      animation-timing-function:cubic-bezier(.72,.1,0,.99);
				animation-delay: 1.5s;
		    }
	    }
		@media (min-width: 960px){
			.ladiagonal{display: none;}
		}
		.logo{
			@media (min-width: 960px){
				transform: scale(.75);
				left: 2%;
				top: 0%;
				width: 160px;
				overflow: hidden;
			}
			@media (min-width: 1280px){
				transform: scale(.85);
			}
		}
	}
}

.title{
	
	transition: all .3s ease-in-out;
	
	text-align: center;
	z-index: 10;
	font-size: 75px;
	font-weight: 700;
	text-align: center;
	font-family: $poppins;
	margin: 15px 0;
	@media (min-width:960px){
		margin:0;
		left:50%;
		transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px));
		top: 35%;
		color:#fff;
		position: absolute;

		top: 50%;
	}
	@media (min-width: 1280px){
			font-size: 100px;
	}
     
}


.content{
	top:0;
	background:#fff;
	z-index: 4;
  	transition: all .65s ease-in-out;
	@media (min-width:960px){
		width: 50%;
	   	 transform: skewX(-200deg);
	   	 position: absolute;
		right: -100%;
		height: 100%;
	}
    .info{    	
    	color:#000;
    	position: relative;
    	
    	
    	margin-left: auto;
		z-index: 9;
		padding:0 10px;
		
		
		font-size: 14px;
		line-height: 23px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: $roboto;
		
		
		@media (min-width:960px){
    		transform: skewX(200deg);
    		right: -300px;
    		opacity: 0;
    		width: 78%;
    		height: 100%;
    		padding-left: 0;
    		padding-top:50px;
    		padding-right: 5%;
    	}
		@media (min-width: 1024px){
			width: 84%;
			padding-right: 10%;
		}
		@media (min-width:960px){
			.cnter{
				max-height: 420px;
				overflow: auto;
			}
		}
		@media (min-width: 1280px){
			font-size: 16px;
			line-height: 26px;
			padding-right: 15%;
		}
		p{
			margin-bottom: 10px;
		}
    }
    @media (min-width:960px){
	    &:after{
			content: "";
			display: block;
			width: 30%;
			height: 100%;
			background:#fff;
			right: 0;
			bottom: 0;
			transform: skewX(200deg);
			position: absolute;
	    }
    }
}

/****** key frames *******/

@keyframes outgnl {
	0%{

    	margin-left: 0
	}
	100%{
		margin-left: -100%
		
	}
}
@keyframes in {
	0%{

    	left: -100%;
	}
	100%{
		left: 0;
		
	}
}
@keyframes inmobile {
	0%{

    	opacity: 0;
	}
	100%{
		opacity: 1;
		
	}
}

@media (min-width: 960px){
	@keyframes titleanime {
		0%{

	    	transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px));
			opacity: 1;
		}
		50%{
			transform: translateX(calc(-50% + .5px));
			top: 7%;
			// top: 40px;
			left: 50%;
		}
		100%{
			transform: none;

			top:54px;
			left:180px;
			
		}
	}

	@keyframes titleanimeblack {
		0%{

	    	transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px));
			opacity: 1;	
		}
		50%{
			transform: translateX(calc(-50% + .5px));
			top: 7%;
			left: 50%;
			color:#000;
		}
		100%{
			-ms-transform:none;
			transform: none;
			top: 54px;
			left:180px;
			color:#000;
			
		}
	}
}
@media (min-width: 1280px){
	@keyframes titleanime {
		0%{

	    	transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px));
			opacity: 1;
		}
		50%{
			transform: translateX(calc(-50% + .5px));
			top: 4%;
			// top: 40px;
			left: 50%;
		}
		100%{
			transform: none;

			top:40px;
			left:240px;
			
		}
	}

	@keyframes titleanimeblack {
		0%{

	    	transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px));
			opacity: 1;	
		}
		50%{
			transform: translateX(calc(-50% + .5px));
			top: 40px;
			left: 50%;
			color:#000;
		}
		100%{
			-ms-transform:none;
			transform: none;
			top: 40px;
			left:240px;
			color:#000;
			
		}
	}
}
@keyframes slash {
	0%{
    	opacity: 0;
	}

	100%{
		transform: scale(1);
    	opacity: 1;
	}
}
@keyframes lad {
	0%{
    	opacity: 0;
    	transform: scale(.5);
	}

	100%{
		transform: scale(1);
    	opacity: 1;
	}
}
@keyframes animatelogo {
	0%{
		left: 55px;
	}

	100%{
		left: 44px;
	}
}

#secciones{
	@media (min-width:960px){
		height: 100vh;
		transform: translateY(0);
		transition: all .3s ease-in-out;
		&.ev1{transform: translateY(-100%);}
		&.ev2{transform: translateY(-200%);}
		&.ev3{transform: translateY(-300%);}
		&.ev4{transform: translateY(-400%);}
	}
}

@media (min-width: 960px){
	.bgteam{
		width: 0%;
		height:100%;
		background:#fff;
		top:0%;
		right: -50%;
		position: absolute;
		z-index: 3;
		transition: all .3s ease-in;
		transform: skew(45deg);
	}
}
.list-team{
	display: flex;
	flex-wrap: wrap;
	margin:0 -1%;
	max-height: 100%;
	@media (min-width: 	1366px){
		margin:0 -2%;
	}
	>li{
		
		width: 100%;
		position: relative;
		cursor: pointer;
		margin-bottom: 20px;
		transition: all .3s ease;
		text-align: center;
		&.df{
				display: none;
			}
		@media (max-width:599px){
			margin-left: auto;
			margin-right: auto;
			max-width: 320px;
			
		}
		@media (min-width: 600px){
			margin:0 1% 20px;
			width: 48%;
			text-align: left;
		}
		@media (min-width: 960px){
			width: 31.3%;
		}
		@media (min-width: 1280px){
			width: 23%;
		}
		@media (min-width: 	1366px){
			margin:0 2% 20px;
			width: 21%;
			&.df{
				display: block;
			}
		}
		h2{
			position: absolute;
			bottom: 25px;
			width: 100%;
			text-align: center;
			font-size: 16px;
			font-family: $roboto;
			color:#fff;
			z-index: 5;
			a{
				display: block;
				color:#fff;
				margin-bottom: 12px;
				opacity: 0;
				transition: all .3s ease-in-out;
				position: relative;
				top: -30px;
			}
		}
		img{
			max-width: 100%;
			height: auto;
			width: 100%;
			object-fit: cover;
		}
		&:hover{
			.hoverimg2{
				opacity: 1;
				img{
					width: 100%;
				}
			}
		}

		&.active{
			.hoverimg{
				opacity: 1;
				img{
					width: 100%;
				}
			}
			h2{
				a{
					opacity: 1;
					top: 0
				}
			}
			.ev-info{
				opacity: 1;
			}
		}
	}
	.hoverimg,.ev-info,.hoverimg2{
		position: absolute;
		top:0;
		left: 0;
		z-index: 2;
		opacity: 0;
		transition: all .3s ease-in-out;
		width: 100%;
	}
	.hoverimg2{
		z-index: 1;
	}
	.ev-info{
		z-index: 4;
		height: calc(100% - 40px);
		width: 100%;
		padding:20px 15px;
		color:#fff;
		a{color:#fff;}
		.txt{
			font-size: 13px;
			font-family: $roboto;
			max-height: 135px;
			overflow: auto;
			line-height: 18px;
			margin-bottom: 12px;
			@media (min-width: 1480px){
				font-size: 15px;
				margin-bottom: 25px;
				max-height: 145px;
			}
		}
		ul.stats{
			li{
				margin-bottom: 12px;
				display: flex;
				align-items: center;
				@media (min-width: 1480px){
					margin-bottom: 15px;
				}
				>span{
					display: inline-block;
					font-size: 16px;
					text-transform: capitalize;
					width: 45px;
				}
				div.barstat{
					width: calc(100% - 45px);
					padding-left:5px;
					span{
						height: 12px;
						display: block;
						background:#d0c9d0;
						width: 80%;
					}
				}
			}
		}
	}
}

.inner-team{
	// max-width: 1090px;
	max-width: 1440px;
    margin: 0 auto 0; 
    z-index: 5;
    transition: all .3s ease-in-out;
    overflow-y: auto;
    width: 95%;
    overflow-x:hidden;
    @media (min-width:960px){
		position: absolute;
	    left: 0;
	    opacity: 0;
	     top: 160px;
	    right: 0;
	    height: calc(100% - 270px);
    }
}
.team{
	.inner-team{
		opacity: 1;
		transition-delay:3s
	}
	.bgteam{
		width: 200%;
		transition-delay: 2.5s;
	}
	.slash{
		*{
			fill:#7300e1;
			transition: all .5s ease-in-out;
			transition-delay: 2.5s;
		}
	}
	.dgnl *{
		fill:#000;
		transition: all .5s ease-in-out;
		transition-delay: 2.5s;
	}
	.title{
			-webkit-animation: titleanimeblack 1.5s ; /* Safari 4.0 - 8.0 */
			animation: titleanimeblack 1.5s;
	}
	@media (min-width: 960px){
	.navigation ul li a{
		color:#000;
		&:hover,&.active{
			color:#fff;
		}
		&:after{
			background:#000;
		}
	}
	}
}

.redes-sociales{
	display: flex;
	justify-content: center;
	@media (min-height: 750px){
	margin-top: 50px;

	}
	li{
		margin: 0 25px;
	}
}

.formcontact{
	margin-top: 5px;
	@media (min-height: 750px){
		margin-top: 30px;
	}
	ul{
		li{
			input{
				width: 100%;
				// max-width: 480px;
				height: 45px;
				color:#000;
				font-size: 15px;
				border:2px solid #000;
				padding: 0 10px;
				font-family: $poppins;
				&.submit{
					width: 85px;
					height: 35px;
					color:#fff;
					font-size: 14px;
					border:0;
					background:#4abfff;
					transition: all .3s ease-in-out;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					padding: 0;
					display: block;
					margin-left: auto;
					&:hover{
						background:darken(#4abfff,10%);
					}
				}
			}
			textarea{
				height: 120px;
				width: 100%;
				padding: 10px 10px;
				color:#000;
				font-size: 15px;
				border:2px solid #000;
				font-family: $poppins;
				resize: none;
				@media (min-height: 750px){
					height: 190px;
				}
			}
			margin-bottom: 20px
		}
	}
}


#projects{
	
	left:0;
	width: 100%;
	top:0;
	overflow: hidden;
	right: 0;
	
	@media (min-width:960px){
		height: 100%;
		position: absolute;
		display: flex;
	}
	.titleproyect{
		font-family: $poppins;
		font-size: 34px;
		text-transform: uppercase;
		color:#fff;
		transform: translateY(calc(-50% + .5px));
		position: absolute;
		left: 0;
		font-weight: 700;
		padding-bottom: 5px;
		
		top: 50%;
		transition: all .3s ease-in-out;
		width: 100%;
		text-align: center;
		z-index: 5;

		@media (min-width: 960px){
			opacity: 0;
			top: 45%;
			width: auto;
			border-bottom: 5px solid #fff;
		}
		@media (min-width: 1280px){
				font-size: 42px;
		}

	}
	img{
		width: 100%;
		height: auto;
		object-fit: cover;
		position: relative;
		z-index: 3;
		transition: all .3s ease-in-out;
		opacity: 1;
	}
	.hoverp{
		position: absolute;
		top: 0;
		transition: all .3s ease-in-out;
		z-index: 5;
		left:0;
		width: 100%;
		height: 100%;
		opacity: 0;
		img{
			height: 100%;
		}
	}
	@media (min-width:960px){
		&.proy1{
			>div{
				&.proyecto1{
					width: 70%;
				}
				&.proyecto2{
					left:65%;
					width: 35%;
				}
				&.proyecto3{
					width: 30%;
				}
			}

		}
		&.proy2{
			>div{
				&.proyecto1{
					width: 50%;
				}
				&.proyecto2{
					left:51%;
					width: 60%;
				}
				&.proyecto3{
					width: 50%;
				}
			}
			
		}
		&.proy3{
			>div{
				&.proyecto1{
					width: 30%;
				}
				&.proyecto2{
					left:31%;
					width: 35%;
				}
				&.proyecto3{
					width: 70%;
				}
			}
			
		}
	}
	>div{
		height: 100%;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		transition: all .3s ease-in-out;
		&:hover,&.active{
			.titleproyect{
				opacity: 1;
				top: 50%;
			}
			.hoverp{
				opacity: 1;
			}
		}
		>img{
			height: 100%;
		}
		&:after{
			content: "";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left:0;
			background:rgba(0,0,0,.3);
			z-index: 4;
			transition: all .3s ease-in-out;
		}
		
		&.proyecto1{
			@media (min-width: 960px){
				.titleproyect{
					left:10%;
				}
			}
			.hoverp img, >img{
				object-position: right;
			}
		}
		&.proyecto3{

			.titleproyect{
				@media (min-width: 960px){
					right: 3%;
					left:inherit;
				}
				@media (min-width: 1280px){
					right: 10%;
				}
			}
			.hoverp img, >img{
				object-position: left;
			}
		}
		&.proyecto2{
			
			
			z-index: 7;
			transition: all .3s ease-in-out;
			@media (min-width:960px){
				position: absolute;
				top:0;
				left:51%;
				transform: translateX(calc(-50% + .5px)) skewX(-18deg);
				width: 41%;
				border-left:4px solid #000;
				border-right:4px solid #000;
				.titleproyect{
					left:50%;
					transform: translateY(calc(-50% + .5px)) translateX(calc(-50% + .5px))  skewX(18deg);;
				}
			}
			
			&:hover{
				// &:after{
				// 	background-color: rgba(#ffc860,.6);
				// }
			}
			img{
				
				position: relative;
				
				@media (min-width:960px){
					transform: skewX(18deg) translateX(-50%);
					left: 50%;
					width: 150%;
				}
			}
		}
	}
	@media (min-width:960px){
		.proyectosm{
			width: 50%;

		}
	}
}

.close{
	position: absolute;
	z-index: 9;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color:#fff;
	right: 20px;
	top: 15px;
	cursor: pointer;
	font-family: $poppins;
	text-shadow:2px 2px rgba(0,0,0,1);
	height: auto !important;
	@media (min-width:768px){
		top: 3%;
	}
}
.detcontent{
	position: relative;
	width: 100%;
	
	left: 0;
	
	z-index:99;
	transition: all .7s ease;
	opacity: 0;
	@media (max-width:959px){
		display: none;
	}
	@media (min-width:960px){
		position: absolute;
		z-index:8;
		height: 100%;
		top:-100%;
	}
	&.active{
		opacity: 1;
		top: 0;
		transition-delay: 1s;
		@media (max-width:959px){
			display: block;
		}
	}
	>*{
		@media (min-width:960px){
			height: 100%;
		}
		&.info-left-det{
			background:#ffc860;
			transition: all .3s ease-in-out;
			z-index: 4;
			position: relative;
			height: 60%;
			padding: 20px 0;
			&.bg2{
				background:#00c0ff;
			}
			&.bg3{
				background:#8800e6;
			}
			@media (min-width:960px){
				width: 51%;
				transform: skewX(-20.5deg);
				height: 100%;
				padding: 0;
				&:before{
					content: "";
					position: absolute;
					left:0;
					top:0;
					background:#ffc860;
					height: 100%;
					width: 40%;
					transform: skewX(20.5deg);
				}
				&.bg2:before{
					background:#00c0ff;
				}
				&.bg3:before{
					background:#8800e6;
				}
			}
			
			.in-sesgar{
				
				position: relative;
				
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				@media (min-width:960px){
					transform: skewX(20.5deg);
					height: calc(100% - 260px);
					top: 171px;
				}
			}
		}
	}
	.imginitial{
		right: 0;
		top: 0;
		z-index: 3;
	
		@media (min-width: 960px){
			width: 63%;
			position: absolute;
			height: 100%;
		}
		@media (min-width: 1366px){
			width: 60%;			
		}
	}

	.figureimg{
		width: 100%;
			height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.imgdet-proyecto{
		transition: all .3s ease;
		z-index: 1;
		@media (max-width: 959px){
			display: none;
		}
		@media (min-width: 960px){
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
		}
		&.active{
			opacity: 1;
			z-index: 2;
			visibility: visible;
			@media (max-width: 959px){
				display: block;

			}
		}
	}
	.detalle-info{
		color:#fff;
		max-width: 85%;
		margin:0 auto;
		padding-right: 2%;
		opacity: 0;
		overflow: hidden;
		max-height: 0;
		transition: all .3s ease;
		@media (min-width: 1366px){
			padding-right: 8%;
		}
		&.active{
			max-height: 800px;
			opacity: 1;
			transition-delay: 1.5s;
		}
		a{
			color:#fff;
		}
		line-height: 22px;
		font-size: 14px;
		font-family: $roboto;
		@media (min-width: 1550px){
			line-height: 25px;
			font-size: 16px;
		}
		p{
			margin-bottom: 10px;
			@media (min-width: 1550px){
				margin-bottom: 15px;
			}
			&:last-child{
				margin-bottom: 0
			}
		}
	}
	.titdetproyecto{
		font-size: 23px;
		padding-bottom: 5px;
		border-bottom: 4px solid #fff;
		text-transform: capitalize;
		font-family: $poppins;
		display: inline-block;
		margin-bottom: 15px;
		font-weight: 700;
		line-height: 42px;
		@media (min-width: 1366px){
			font-size: 39px;
			margin-bottom: 30px;
		}
	}
	.dualbtns{
		display: flex;
		margin-top: 25px;
		@media (min-width: 1366px){
			margin-top: 50px;
		}

		/* &.activedet1,&.activedet2{
			a{
				&.default{
					display: flex;
				}
			}
		}
		&.activedet1{
			a.info1det{
				display: none;
			}
		}
		&.activedet2{
			a.info2det{
				display: none;
			}
		} */
		a{
			padding:0 5px;
			height: 40px;
			display: flex;
			font-weight: 700;
			justify-content: center;
			align-items: center;
			border:4px solid #fff;
			text-transform: uppercase;
			text-align: center;
			font-size: 12px;
			transition: all 0.3s ease;
			font-family: $poppins;
			&.active{
				background:#fff;
			}
			@media (min-width: 960px){
				padding:0 20px;
				font-size: 13px;
			}
			@media (min-width: 1366px){
				height: 50px;
				font-size: 16px;
			}
			&.default{
				display: none;
				margin-left: 5%;
				@media (min-width: 1366px){
					margin-left: 10%
				}
			}
			&:hover,&.active{
				background:#fff;
				color:#000;
			}
			&:first-child{
				margin-right: 5%;
				@media (min-width: 1366px){
					margin-right: 10%
				}
			}
		}
	}
}

.infodet{


	@media (min-width: 960px){
			overflow: auto;
			max-height: 180px;
	}

	@media (min-width: 1366px){
		max-height: 240px;
	}
	>*{
		display: none;
		&.detprincipal{
			display: block;
		}
	}
}

.infosubproyecto{
	
	width: 100%;
	opacity: 0;
	right: -100%;top: 0;

	background:#Fff;
	transition: all .5s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	@media (max-width: 959px){
		display: none;
	}
	@media (min-width: 960px){
		position: absolute;
		height: 100%;
	}
	>*{
		width: 100%;
	}
	&.active{
		right: 0;
		opacity: 1;
		@media (max-width: 959px){
			display: block;
		}
	}
}
.infosub{
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	max-height: 145px;
	overflow: auto;
	line-height: 22px;
	margin-bottom: 25px;
	
	margin-left: auto;
	
	@media (max-width: 959px){
		margin-right: auto;
		max-width: 90%;
	}
	@media (min-width: 960px){
		max-width: 80%;
	}
	.insub{
		@media (min-width: 960px){
			max-width: 80%;
		}
		margin:0 auto;
		@media (min-width:1650px){
			max-width: 700px;
		}
	}
}

/*** galeria *****/
.carousel{
	padding:0 5%;
	@media (min-width: 960px){
		padding:0%;
		max-width: 80%;
		margin-left: auto;
	}
}
.lSSlideOuter{
	display: flex;
	flex-direction: column;
	.lSSlideWrapper{
		order: 2;
		
		width: 900%;
		margin:20px auto 10px;
		@media (min-width: 960px){
			width: 100%;
			max-width: 80%;
		}
		@media (min-width:1650px){
			max-width: 700px;
			margin:40px auto 20px;
		}
	}
}
.lSSlideOuter .lightSlider > *{
	height: 250px;
	@media (min-width:1650px){
		height: 400px;
	}
}
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li{
	img{
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.lSSlideOuter .lSPager.lSGallery img{
	max-width: 400px;
}
.lSAction > a{
	background-image: url(controls.png);
}
.lSSlideOuter .lSPager.lSGallery li{
	position: relative;
	max-height: 200px;
	a{
		display: block;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background:transparent;
			z-index: 2;
			transition: all .3s ease-in-out;
		}
	}
	&.active{
		a:before{
			background:rgba(0,0,0,.6);
		}
	}
}
.lSSlideOuter .lightSlider {
	video{
		width: 100%;
		height: 100%;
		min-height: 200px;
	}
}
.evntmodal{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.closemv{
	position: absolute;
	top: 30px;
	right: 15px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-transform: uppercase;
	background:#f2f2f2;
	color:#fff;
	transition: all .3s ease;
	cursor:pointer;
	font-size: 18px;
	border-radius:50%;
	color:#000;
	font-family: arial;
	&:hover{
		background:#ccc;
	}
}
.bgmodal{
	position: fixed;
	background:rgba(0,0,0,.9);
	width: 0;
	overflow: hidden;
	height: 100%;
	right: 0;
	visibility: hidden;
	transition: all .3s ease;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	top: 0;
	video{

		width: 90%;
		height: 90%;
		height: 90vh;
	}
	&.active{
		opacity: 1;
		width: 100%;
		visibility: visible;
	}
}
.imageGallery li{
	position: relative;
}
.edittext{min-height: 24px}